@charset "UTF-8";

* {
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    table-layout: fixed;
}

table {
    width: 100%;
}

select {
    width: 100%;
}

#eta {
    text-align: center;
}

#route_list_loading {
    display: none;
}

.route {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}