@charset "UTF-8";

* {
    box-sizing: border-box;
    word-wrap: break-word;
    max-width: 100%;
    table-layout: fixed;
}

html {
    background-color: white;
    color: black;
}

html.dark {
    background-color: black;
    color: #e0e0e0;
}

table {
    width: 100%;
}

select {
    width: 100%;
}

#eta {
    text-align: center;
}

.rdv {
    font-size: 0.7em;
}